html,body{
    background-image: url("../img/background.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100%;
    font-family: 'Arial', sans-serif;
    }

.container{
    height: 100%;
    align-content: center;
    }

.card{
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: #24384B;
    border-radius: 20px;
    }

.icon img{
    position: absolute;
    width: 60px;
    }

.card-header h3{
    color: white;
    text-align: center;
    }


.field{
    background-color: #2E465E;
    border-color: #2E465E;
    color: white;
}

.field::placeholder{
    color: white;
}
.field:focus{
    background-color: #2E465E;
    border-color: #2E465E;
    color: white;
}
    

.form-button{
    font-weight: bolder;
    color: black;
    background-color: #5BC0EB;
    width: 80%;
    border-radius: 20px;
    /* align-self: center; */
    }
    
    
.form-button:hover{
color: black;
background-color: white;
}

.links a{
    margin-left: 4px;
    }

/* input:invalid {
    border-color: salmon;
    } */